html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

$modal-form-input-width: 300px;

.modal-form {
  padding: 20px 10px;
}

td.controls {
  font-size: 20px;

  a {
    padding: 0 5px;
    text-decoration: none;
  }
}

div.overlapping {
  background-color: red;
}

ul.clear-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input[type='number'] {
  text-align: right;
}

div.month {
  margin-bottom: 20px;
  table {
    th {
      text-align: center;
    }

    tr:nth-child(2) {
      th {
        width: 100px;
      }
    }

    td {
      text-align: center;
      border: 1px solid #ddd;
      cursor: pointer;
    }

    td.selected {
      background-color: #deb887;
    }

    td.on-work {
      background-color: chartreuse;
    }

    td.selected.on-work {
      background-color: chocolate;
    }
  }
}