html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }

.modal-form {
  padding: 20px 10px; }

a.clear-href, a:hover.clear-href {
  text-decoration: none;
  color: black;
  cursor: pointer; }

td.controls {
  font-size: 20px; }
  td.controls a {
    padding: 0 5px;
    text-decoration: none; }

div.overlapping {
  background-color: red; }

ul.clear-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

input[type='number'] {
  text-align: right; }

div.month {
  margin-bottom: 20px; }
  div.month table th {
    text-align: center; }
  div.month table tr:nth-child(2) th {
    width: 100px; }
  div.month table td {
    text-align: center;
    border: 1px solid #ddd;
    cursor: pointer; }
  div.month table td.out-calendar {
    background-color: #eee; }
  div.month table td.not-set {
    background-color: #fff; }
  div.month table td.not-set.selected {
    background-color: #deb887; }
  div.month table td.setted {
    background-color: #7fff00; }
  div.month table td.setted.selected {
    background-color: #d2691e; }
  div.month table td.no-interval {
    background-color: #1e90ff; }
